/* admin.css */

/* Общие стили для панели администратора */
body {
    font-family: Arial, sans-serif; /* красивый шрифт */
    background-color: #ffffff; /* белый фон */
    margin: 0; /* убираем отступы по умолчанию */
    font-size: 18px; /* увеличиваем размер шрифта по умолчанию */
    color: #000000; /* черный цвет текста */
}

.container {
    display: flex;
    justify-content: center; /* центрируем содержимое контейнера по горизонтали */
    align-items: center; /* центрируем содержимое контейнера по вертикали */
    height: 100vh; /* делаем контейнер высотой как вся видимая область окна браузера */
    position: relative; /* добавляем относительное позиционирование для потомков */
}

.left-column,
.right-column {
    width: 50%; /* 50% ширины контейнера */
    padding: 20px;
    background-color: #fff; /* задаем белый фон */
    border-left: 1px solid #ccc; /* добавляем тонкую серую рамку слева */
    border-right: 1px solid #ccc; /* добавляем тонкую серую рамку справа */
    box-sizing: border-box; /* учитываем рамку в общей ширине блока */
    position: relative; /* добавляем относительное позиционирование для потомков */
}

/* Полоса по центру, вертикальная */
.vertical-line {
    border-left: 1px solid #ccc; /* добавляем вертикальную серую линию */
    height: 100%; /* делаем линию высотой как содержимое блока */
    position: absolute; /* абсолютное позиционирование */
    left: 50%; /* размещаем линию по центру */
    top: 0; /* выравниваем по верху контейнера */
    transform: translateX(-50%); /* сдвигаем линию влево на 50% от ее ширины */
}

/* Дополнительные стили, если нужно */
h2 {
    color: #000000; /* черный цвет заголовка */
    font-size: 24px; /* увеличиваем размер заголовка */
}

input[type="text"],
select {
    width: calc(100% - 20px); /* расширяем элементы на всю ширину блока с учетом отступов */
    margin-bottom: 10px; /* отступ после элемента */
    padding: 8px; /* увеличиваем отступы внутри элементов */
    border: 1px solid #ccc; /* добавляем тонкую серую рамку */
    border-radius: 4px; /* скругляем углы */
    box-sizing: border-box; /* учитываем рамку в общей ширине блока */
}

input[type="submit"] {
    background-color: green; /* цвет кнопки */
    color: white; /* цвет текста на кнопке */
    border: none; /* убираем рамку */
    padding: 10px 20px; /* отступы внутри кнопки */
    cursor: pointer; /* изменяем вид курсора при наведении */
    border-radius: 4px; /* скругляем углы */
}

/* Стили для выпадающего списка */
select {
    width: calc(100% - 20px); /* расширяем список на всю ширину блока с учетом отступов */
}
