/* Стилизация формы */
#login-form,
#register-form {
    width: 400px; /* Увеличиваем ширину формы */
    margin: 0 auto; /* Центрирование формы */
    font-family: 'Helvetica', sans-serif; /* Изменяем шрифт */
    padding: 30px; /* Увеличиваем отступы вокруг формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 10px; /* Скругленные углы формы */
    text-align: center; /* Центрирование текста */
}

h2 {
    font-size: 24px; /* Увеличиваем размер заголовка */
}

label {
    display: block;
    margin-bottom: 15px; /* Увеличиваем отступ после метки */
    font-size: 16px; /* Увеличиваем размер шрифта метки */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Ширина полей ввода, учитывая границы и отступы */
    padding: 12px; /* Увеличиваем отступ внутри полей ввода */
    margin-bottom: 20px; /* Увеличиваем отступ между полями */
    box-sizing: border-box; /* Учитываем внутренние отступы в общей ширине */
    border: 1px solid #ccc; /* Подходящая граница */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Увеличиваем размер шрифта */
}

button {
    width: calc(100% - 20px); /* Ширина кнопки, учитывая границы и отступы */
    padding: 12px; /* Увеличиваем отступ внутри кнопки */
    border: none; /* Убираем границу */
    cursor: pointer; /* Показываем, что это кнопка */
    border-radius: 5px; /* Скругленные углы кнопки */
    font-size: 16px; /* Увеличиваем размер шрифта */
    background-color: #007bff; /* Цвет кнопки */
    color: #fff; /* Цвет текста на кнопке */
}

button:hover {
    background-color: #0056b3; /* Изменение цвета кнопки при наведении */
}

.content {
    display: flex; /* Используем flexbox для центрирования содержимого */
    flex-direction: column; /* Устанавливаем направление flex на вертикальное */
    justify-content: center; /* Выравниваем по горизонтали по центру */
    align-items: center; /* Выравниваем по вертикали по центру */
    height: 100vh; /* Задаем высоту вьюпорта, чтобы форма была посередине страницы */
}
